.full ul ul, ol ol,
.full ul ol, ol ul { /* Added by Mary Fries, March 2015 */
  border: none;
}

li > ul, li > ol { /* Edited by Mary Fries, March 2015 */
  margin: 5px auto;
  display: block;
  list-style-type:lower-alpha;
  line-height:none;
}

/** Side Notes **/
/* TODO: This is not very responsive... */
.sidenote { /* added by Mary Fries on 3/10/15 based on http://hartshorne.ca/2005/07/27/footnotes_v_sidenotes/ */
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  /* position: absolute; */
  /* right: 0; */
  /* top: auto; /* default */
  width: 20%;
  padding: 10px;
  background-color: #F3F0B3
}

/** BJC4NYC elements added by Mary Fries, March 2015 **/
/* TODO: This is too general and breaks many elements.
   We should replace this with either a class, or use a more specific
   element. */
div {
  padding-bottom: .5em;
}

.forYouToDo, .dialogue, .takeItFurther {/* Shared Box Formatting */
  padding: 1em;
  margin-bottom: .5em;
}

.forYouToDo:before, .dialogue:before, .takeItFurther:before { /* Shared Heading Formatting */
  font-size: 18px;
  font-weight: bold;
  line-height: 2.5em;
}

.forYouToDo {
  background-color: #edf4e6;
  margin-bottom: .5em;
}

.forYouToDo:before {
  content: "For You To Do";
}

.dialogue {
  background-color: #ecf4fb;
}

.dialogue:before {
  content: "Thinking with Your Mind... Out Loud and in Action";
}

.dialogue > div {
  padding-left: 5em;
  text-indent: -3em;
}

/* TODO: document this
  Note: `.dialogue > div` isn't necessary
*/
.dialogue > div.stagedir {
  font-style: italic;
  text-align: center;
}

/* TODO: document this */
.dialogue > div > span {
  font-weight: bold;
}

.takeItFurther {
  background-color: #e4cde3;
}

.takeItFurther:before {
  content: "Take It Further";
}

/* Other Random Things added by Mary */
/* TODO: These need comments about where they should be used. */
.block { height: 2em; }

.bigBlock { height: 6%; }

.script { height: 18%; }

code {
  /* background: none; */
  /* color: #00FFFF;   */
  /* font-family: courier; */
  font-size: 1.1em;
}

.anchor {
   padding-top: 65px;
   margin-top: -65px;
}

/* Generic no-border class to override specifc elements.
   Commonly used w/ <blockqoutes> in cases where it doesn't look good.
 */
.no-border {
  border: none;
}
