/** Basic HTML **/

.anchor {
   padding-top: 65px;
   margin-top: -65px;
}

/*Fixing things that are in the main CSS --darkening links for projectors */
a:visited {
  color: #248694; /* was 36BBCE; */
}

a {
  color: #2a6496; /* was 428bca; */
}

h4 {
  padding: 20px 0px 0px 0px;
}

.full ul, .full ol {
  display:block; /* Commented out because it was breaking my styles --Mary Fries 3/19/15 */
  color: inherit; /* reset the color */
  /*margin: 0px 15px 15px  0; /* Added */
  border: none; /* EDC change. */
}

li > ul, li > ol {/* Edited by Mary Fries, March 2015 */
  margin: 5px auto;
  line-height: none; /* hmm. */
}

li > ol {
  list-style-type: lower-alpha;
}

/** Editor Notes **/
.comment { /* added by Mary Fries on 5/27/15 based on http://hartshorne.ca/2005/07/27/footnotes_v_sidenotes/ */
  /*display: none;*/
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  width: 20%;
  padding: 10px;
  background-color: #FF0000;
  clear:both;
}

.todo {
  /*display: none;*/
  font-size: .9em;
  margin-bottom: 20px;
  padding: 10px;
  border: 10px solid red;
  background-color: #FFF;
}

.todo:before {
  font-size: 18px;
  font-weight: bold;
  content: "Reviewer Comments:";
}

/** Side Notes **/
.sidenote { /* added by Mary Fries on 3/10/15 based on http://hartshorne.ca/2005/07/27/footnotes_v_sidenotes/ */
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  /* position: absolute; */
  /* right: 0; */
  /* top: auto; /* default */
  width: 20%;
  padding: 10px;
  background-color: #FFF8AD; /* #F3F0B3; */
  clear:both;
}

.sidenoteBig { /* added by Mary Fries on 5/19/15 based on above */
  font-size: .9em;
  float: right;
  margin-right: 20px;
  margin-left: 1em;
  margin-bottom: 20px;
  width: 40%;
  padding: 10px;
  background-color: #FFF8AD;
  clear:both;
}

.endnote { /* added by Mary Fries on 6/9/15 based on above */
  margin-right: 20px;
  margin-left: 1em;
  width: 90%;
  background-color: #FFF8AD;
  margin-left: auto;
  margin-right: auto;
 }

/* IMG with no shaddow */
img.noshaddow {
  /* Better resizing of images for mobile devices */
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.5));
  -ms-filter: none;
  filter: none;
}

/* New div styles */
.forYouToDo, .dialogue, .takeItFurther, .takeNote, .endnote {/* Shared Box Formatting */
  padding: 1em;
  margin-bottom: .5em;
}

.forYouToDo:before, .dialogue:before, .takeItFurther:before, .endnote > div:not(.sidenote):not(.sidenoteBig):not(.comment) { /* Shared Heading Formatting */
  font-size: 18px;
  font-weight: bold;
  line-height: 2.5em;
}

.forYouToDo {
  background-color: #d2e3be; /* #edf4e6; */
  margin-bottom: .5em;
}

.forYouToDo#first:before {
  content: "For You To Do";
}

.dialogue {
  background-color: #cce4f6; /* #ecf4fb; */
}

.dialogue:before {
  content: "Thinking Out Loud";
}

.dialogue > div {
  padding-left: 5em;
  text-indent: -3em;
}

.dialogue > div.stagedir {
  padding-left: 0em;
  text-indent: 0em;
  font-style: italic;
  text-align: center;
}

.dialogue > div > span {
  font-weight: bold;
}

.takeItFurther {
  background-color: #e4cde3;
}

.takeItFurther:before {
  content: "Take It Further";
}

.takeNote {
  background-color: #fcc589;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
 }

/** BJC4NYC elements added by Mary Fries, May 2015 **/
div.saveAs img {
  position: relative;
  z-index:1;
}

div.saveAs span.text {
  position: absolute; 
  margin-left: 182px;/*19.7em;*/
  padding-top: 1.05em;
  z-index:2;
  color: #333;
}

div.newProject span.text {
  position: absolute; 
  margin-left: 290px;/*19.7em;*/
  padding-top: 1.05em;
  z-index:2;
  color: #333;
}

/* Other Random Things added by Mary NEEDS ATTENTION*/

.block {height: 2em;}

.bigBlock {height: 6%;}

.script {height: 18%;}

.button {height: 1.6em;}

code {
  /* color: #00FFFF; */
  /*  font-family: courier; */
  font-size: 1.1em;
  padding: 0px;
}
