
/* STYLING FOR ALL ASSESSMENT ITEM TYPES  (StudentCheck, Student Quiz, Teacher Check, TeacherQuiz, Brainstorm) */





/* This override presents Firefox browser from drawing an ugly dotted line around the focus Input button */
button  ::-moz-focus-inner,input[type="reset"]  ::-moz-focus-inner,input[type="button"]
	 ::-moz-focus-inner,input[type="submit"]  ::-moz-focus-inner,input[type="file"]>input[type="button"]
	 ::-moz-focus-inner {
	border: none;
}





.title {
	text-align: center;
	font-size: 1.4em;
	/* text-transform: uppercase; */
	padding: 5px 15px;
	background-color: #FFE6C6;
}



.centeredDiv {
	text-align: left;
	padding: 1%;
	margin: 0px auto;
}

.Question {

}

.questionCountBox {
	margin: 0px;
	padding: 0px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.questionTable .questionType {
	text-align: left;
	font-size: 1em;
	/* text-transform: uppercase; */
	padding: 5px 15px;
}

.questionType tt {
	/* looks OK in IE, too small in firefox, ug.  Firefox at 150% is about right, 130% in IE is right */
	font-size: 135%;
	font-weight: 500;
}

.helpIcon {
	width: 16px;
	height: 16px;
	background-image: url(images/infoIcon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 0px;
}

.helpIcon a {
	outline: 0px;
	text-decoration: none;
}

.helpIcon :hover {
	background-image: url(images/infoIconRollover.png);
}

.helpTextLink {
	font-size: .7em;
	color: #333;
	padding: 2px 5px;
}

.helpTextLink:hover {
	background-color: #FFFF00;
	}

.feedbackDiv {
	width: 85%;
	margin: 10px auto 0px auto;
	text-align: center;
	color: #19253D;
}

.feedbackDiv.correct {
	color: green;
}

.feedbackDiv.incorrect {
	color: red;
}

.clearBoth {
	clear: both;
	margin: 0px;
	padding: 0px;
}

/* Anchor-Based Button Layout using TABLE */

.buttonDiv {
	text-align: center;
}

.statusDiv {
	width: 80%;
	margin: 0px auto 10px auto;
	padding: 2px;
	text-align: center;
	font-size: .75em;
	color: #19253D;
	color: #333;
}

.buttonTable {
	border-collapse: collapse;
	margin: 8px auto 5px auto;
}

.buttonTable a {
	vertical-align: middle;
	margin: 0px 10px;
	padding: 5px 15px;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size:.85em;
	background-color:#1e69ff;
	color: #FFF;
	border:1px solid #333;
	text-decoration: none;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.buttonTable a.firstButton {
	margin-left:15px;
}

.buttonTable a.tightened {
	letter-spacing: -1px;
}

.buttonTable a:hover {
	background-color: #FFFF00;
	color:#000;
	cursor:pointer;
}

.buttonTable a.disabledLink:hover {
	background-color: #666;
	color: #999999;
	cursor:default;
}

.buttonTable .disabledLink {
	background-color: #666;
	color: #999999;
	outline: 0;
}


/* STYLING FOR ALL POP-UP STEP INFORMATION WINDOWS */

.stepBody, .assessmentBody {
	background-color: #666699;
}

.infoBoxCenteredDiv, .assessmentTypeCenteredDiv {
	background-image:url(images/BackgroundBlue600.png);
	background-position:0px -400px;
	background-repeat:repeat-x;
	background-color:#FFF;
	width: 640px;
	text-align: left;
	padding: 5px 15px;
	margin: 10px auto;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.stepTitle, .assessmentTitle {
	font-size: 1.4em;
	font-weight: bold;
	color: #19253D;
	margin: 25px 10px 0px 10px;
	border-bottom: 1px ridge #CCFFFF;
}

.stepTitle .subtitle, .assessmentTitle .subtitle {
	font-size: .5em;
	margin-left: 5px;
}

.assessmentDescription p {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: .7em;
	margin: 15px 0px 0px 10px;
	background-color:#999;
	width:95%;
	padding:2px 6px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
			}

.assessmentDescription p.tips {
	text-transform:capitalize;
	font-weight:normal;
	letter-spacing:1px;
}

.stepDescription ul, .assessmentDescription ul, .assessmentDescription ol {
	font-size: .8em;
	line-height: 135%;
	padding: 0px;
	margin: 15px 0px 20px 40px;
}

.stepDescription li, .assessmentDescription li, .assessmentDescription ol li {
	color: #19253D;
	margin-bottom: 10px;
}

.InfoBoxClose {
	text-align: center;
	margin: 30px auto;
}

.InfoBoxClose a {
	display: block;
	margin: 0px auto;
	width: 9em;
	padding: 5px 0px;
	font: bold 100% Verdana, Arial, sans-serif;
	text-transform: uppercase;
	background: #6883BA;
	color: #333;
	border:1px solid #999;
	text-decoration: none;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.InfoBoxClose a:hover {
	background: #FFCC00;
	color: #333
}

.red {
	background-color: #CC0000;
	color: #FFF;
	padding: 0px 3px 1px 3px;
	margin: 0px;
}

.yellow {
	background-color: #FFFF33;
	color: #999;
	padding: 0px 3px 1px 3px;
	margin: 0px;
}

.green {
	background-color: #009900;
	color: #FFF;
	padding: 0px 3px 1px 3px;
	margin: 0px;
}




/* multiple choice question specific styling */

.MultipleChoice .instructionsReminder {
	float: right;
	text-align: right;
	margin: 2px 15px 0px 0px;
	color: #333;
	vertical-align: middle;
}

.MultipleChoice .currentQuestionBox {
	margin: 0px auto;
	padding: 10px 0px;
	text-align: left;
}

.MultipleChoice .currentQuestionBox .leftColumn {
    float: left;
    width: 85%;
    padding: 10px 0px;
    min-height: 300px;
}

.MultipleChoice .currentQuestionBox .rightColumn {
    float: right;
    width: 14%;
    padding: 10px 0px;
    text-align: center;
    color: white;
    min-height: 300px;
}



.MultipleChoice .itemLabel {
	font-size: .7em;
	text-transform: uppercase;
	margin: 5px 0px 0px 15px;
}

.MultipleChoice .promptdiv {
	font-size: .9em;
	color: #000;
	margin: 3px 10px 15px 15px;
	font-weight: bold;
	line-height: 150%;
}

.MultipleChoice .promptdiv p {
	font-size: inherit;
	font-weight: normal;
}

.MultipleChoice .promptdiv a:link, .promptdiv a:visited {
	color: #000;
}

.MultipleChoice .promptdiv a:hover {
	background-color: #FFFF00;
}

.MultipleChoice .promptdiv tt {
	/* looks OK in IE, too small in firefox, ug.  Firefox at 150% is about right, 130% in IE is right */
	font-size: 135%;
	font-weight: 500;
}

.MultipleChoice .promptdiv ol {
	font-size: .8em;
	text-transform: uppercase;
	margin-left: 25px;
}

.MultipleChoice .promptdiv pre {
	font-size: .8em;
	font:.9em "Courier New", Courier, monospace;
	font-weight:bold;
	color:#333;
	white-space:pre;
	padding:10px;
	margin:15px;
	border-top:2px solid #999;
	border-right:2px solid #999;
	border-bottom:2px solid #999;
	border-left:12px solid #999;
}

.MultipleChoice .radiobuttondiv {
	margin: 10px;
}

.MultipleChoice .radiobuttondiv table td {
	font-size: .85em;
	vertical-align: top;
	padding: 3px 3px 8px 3px;
}

.MultipleChoice .radiobuttondiv input {
	margin-top:2px;
}

.MultipleChoice .radiobuttondiv table p {
	font-size: inherit;
}

.MultipleChoice .radiobuttondiv table tt {
	font-size: 110%;
	font-weight:bold;
}

.MultipleChoice .radiobuttondiv .correct {
	color: green;
	font-weight: bold;
}

.MultipleChoice .radiobuttondiv .incorrect {
	color: red;
	font-weight: bold;
}

.MultipleChoice .radiobuttondiv table td:first-child {
	width:25px;
}

.MultipleChoice .radiobuttondiv table td + td + td {

}

.MultipleChoice .radiobuttondiv table td + td + td div[name="feedbacks"]{
	font-style:italic;
	font-size:.9em;
	border-left:4px solid #999;
	padding-left:6px;
	margin-left:30px;
	
}

.MultipleChoice input * {
	color: red
}

.MultipleChoice .submitbuttonDiv {
	text-align: center;
	margin: 5px;
}

.MultipleChoice .submitbuttonDiv input * {
	font-size: .8em;
	font-weight: bold;
}

.MultipleChoice .statusMessages {
	text-align: center;
	margin: 5px auto;
	padding: 5px;
}

.MultipleChoice .numberAttemptsDiv, .lastAttemptDiv {
	display: inline;
	font-size: .8em;
	margin: 0px;
	padding: 0px;
}

.MultipleChoice .buttonTable {
	margin-top:10px;
}

.MultipleChoice .buttonDiv {
    min-height: 31px;
	background-color:#FF9D1E;
	
}

.MultipleChoiceData {
	display: none
}
